APScheduler==3.10.4
asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Django==4.2.7
django-dramatiq==0.11.6
djangorestframework==3.14.0
dramatiq==1.16.0
dramatiq-crontab==1.0.5
drf-yasg==1.21.7
gevent==23.9.1
greenlet==3.0.3
gunicorn==21.2.0
idna==3.6
inflection==0.5.1
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
prometheus-client==0.19.0
psycopg2-binary==2.9.6
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.1.0
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.1.0
watchdog==3.0.0
watchdog-gevent==0.1.1
zope.event==5.0
zope.interface==6.1
